/* 编辑器和预览容器 */
.editor-container, .preview-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    overflow: hidden;
}


.app-dark .editor-container,
.app-dark .preview-container {
    background-color: #2d2d2d;
}

/* 面板头部 */
.panel-header {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
}

/* 面板头部图标 */
.panel-icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* 上传按钮 */
.upload-btn {
    border-radius: 8px;
    border: 2px solid #aaaaaa;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

/* 上传按钮图标 */
.upload-icon {
    width: 16px;
    height: 16px;
}

.upload-btn:hover {
    background-color: #d9d9d9;
}

/* 编辑器文本区域 */
.editor-textarea {
    flex: 1;
    width: 100%;
    padding: 15px;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Consolas', 'Monaco', monospace;
    line-height: 1.6;
    font-size: 14px;
    background-color: transparent;
    color: inherit;
}
